<!--
<html>
<body>

	<form method=post enctype=multipart/form-data action="/display_image">
        <input type=file name=file>
        <input type=submit value=Upload>
      </form>

</body>
</html>
-->
{% extends "layout.html" %}
{% block body %}
  This web app takes a picture of a face and returns a compressed/simplified version of the face<br>
  Upload a PNG or JPG image containing a face.  Choose biological sex and click Upload.<br>
  <form method=post enctype=multipart/form-data action="/display_image">
        <input type=file name=file>
        <br>
        <input type="radio" id="male" name="gender" value="male">
        <label for="male">Male</label><br>
        <input type="radio" id="female" name="gender" value="female">
        <label for="female">Female</label><br>
        <input type="radio" id="neither" name="gender" value="neither">
        <label for="neither">Neither</label><br>
        <input type=submit value=Upload>
      </form>
{% endblock %}